<div class="row">
  <div class="text-center">
    <h1>MuscleWizards</h1>
    <h3>Contest Prep. Simplified.</h3>
    <%= link_to "Find out more", about_path %>
  </div>
  <div class="medium-6 columns text-center">
    <h5>I'm a</h5>
    <h2>COACH</h2>
    <%= link_to "SIGN IN", "#", class: "button" %>
    <h5>OR</h5>
    <%= link_to "SIGN UP", "#", class: "button" %>
  </div>
  <div class="medium-6 columns text-center">
    <h5>I'm an</h5>
    <h2>ATHLETE</h2>
    <%= link_to "SIGN IN", new_user_session_path, class: "button" %>
    <h5>OR</h5>
    <%= link_to "SIGN UP", new_user_registration_path, class: "button" %>
  </div>
</div>
