<div class="row">

  <div class="medium-8 medium-centered column">
    <div class="message-form">
      <%= simple_form_for [@prep, @conversation, @message] do |f| %>
        <%= f.input :body, label: false, placeholder: "Enter a new message here" %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.button :submit, value: "Send Message" %>
        <%= link_to "Back to Prep", @prep, class: "button" %>
      <% end %>
    </div>

    <div class="messages">
      <% @messages.each do |message| %>
        <% if message.body %>
          <div class="message">
            <% if message.user == current_user%>
              <div class="header"><strong class="green"><%= message.user.name %></strong> <%= message.message_time %></div>
            <% else %>
              <div class="header"><strong class="bluish"><%= message.user.name %></strong> <%= message.message_time %></div>
            <% end %>
            <div class="message-body">
              <%= message.body %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @over_ten %>
       <%= link_to 'Showing last 10 messages - Show All', '?m=all' %>
    <% end %>

  </div>
</div>
