<div class="row">
  <div class="medium-12 columns">
    <h2 class="text-center"><%= time_til_contest %> from <%= @prep.contests.first.title %></h2>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns text-center">
    <h4>Weight</h4>
    <% if @prep.bodyweights.any? %>
      <%= render partial: 'weight', locals: { weight: @prep.bodyweights.last, start_weight: @prep.bodyweights.first } %>
    <% else %>
        <h6>No weigh-ins recorded yet</h6>
        <%= link_to "Log starting weight", new_prep_bodyweight_path(@prep) %>
    <% end %>
  </div>
  <div class="medium-6 columns text-center">
    <h4>Athlete</h4>
    <%= link_to user_path(@prep.user) do %>
      <%= image_tag(@prep.user.avatar(:thumb)) %>
      <h6><%= @prep.user.name  %></h6>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <h2 class="text-center">Current Targets</h2>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns text-center">
    <h4>Macros</h4>
    <% if @prep.target_macros.any? %>
      <%= render partial: 'macros', locals: { macros: @prep.target_macros.last } %>
    <% else %>
      <h6>No target macros set yet</h6>
      <%= link_to "Set macro goals", new_prep_target_macro_path(@prep) %>
    <% end %>
  </div>
  <div class="medium-6 columns text-center">
    <h4>Cardio</h4>
    <% if @prep.target_cardios.any? %>
      <%= render partial: 'cardio', locals: { cardio: @prep.target_cardios.last } %>
    <% else %>
      <h6>No cardio set yet</h6>
      <%= link_to "Set cardio goal", new_prep_target_cardio_path(@prep) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns text-center">
    <h2>Latest Progress Photos</h2>
    <% if @prep.photos.any? %>
      <%= render partial: 'photos', locals: { photos: @photos } %>
    <% else %>
      <h5>No Photos Added Yet</h5>
    <% end %>
  </div>
  <div class="medium-6 columns text-center">
    <%= link_to "Upload new Progress Pic", new_prep_photo_path(@prep), class: "expanded button" %>
  </div>
  <div class="medium-6 columns text-center">
    <%= link_to "All Photos", prep_photos_path(@prep), class: "expanded button" %>
  </div>
</div>
