<div class="row">
  <div class="medium-12 columns">
    <h2 class="text-center"><%= time_til_contest %> from <%= @prep.contests.first.title %></h2>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns text-center status-panel">
    <%= render partial: 'athlete' %>
  </div>
  <div class="medium-4 columns text-center status-panel">
    <%= render partial: 'communication' %>
  </div>
  <div class="medium-4 columns text-center status-panel">
    <%= render partial: 'coach' %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <h2 class="text-center">Current Targets</h2>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns text-center status-panel">
    <%= render partial: 'weight', locals: { weights: @prep.bodyweights } %>
  </div>
  <div class="medium-4 columns text-center status-panel">
    <%= render partial: 'macros', locals: { macros: @prep.target_macros } %>
  </div>
  <div class="medium-4 columns text-center status-panel">
    <%= render partial: 'cardio', locals: { cardio: @prep.target_cardios } %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns text-center">
    <h2>Latest Progress Photos</h2>
  </div>
</div>
<div class="row">
  <%= render partial: 'photos', locals: { photos: @photos } %>
</div>
<div class="row">
  <% if @prep.athlete == current_user %>
  <div class="medium-6 columns text-center">
    <%= link_to "Upload new Progress Pic", new_prep_photo_path(@prep), class: "expanded button" %>
  </div>
  <% end %>
  <div class="medium-6 medium-centered columns text-center">
    <%= link_to "All Photos", prep_photos_path(@prep), class: "expanded button" %>
  </div>
</div>
