<div class="row">
  <div class="medium-12 columns">
    <h2 class="text-center">12 Weeks Out from <%= @prep.contests.first.title %></h2>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns text-center">
    <% if @prep.bodyweights %>
      <%= render partial: 'weight', locals: { weight: @prep.bodyweights.last, start_weight: @prep.bodyweights.first } %>
    <% else %>
        <h6>No weigh-ins recorded yet</h6>
        <%= link_to "Log starting weight", new_prep_bodyweight_path(@prep) %>
    <% end %>
  </div>
  <div class="medium-6 columns text-center">
    <h4>Athlete</h4>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <h2 class="text-center">Current Targets</h2>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns text-center">
    <% if @prep.target_macros %>
      <%= render partial: 'macros', locals: { macros: @prep.target_macros.last } %>
    <% else %>
      <h4>No target macros set yet</h4>
      <%= link_to "Set macro goals", new_prep_target_macro_path(@path) %>
    <% end %>
  </div>
  <div class="medium-6 columns text-center">
    <% if @prep.target_cardios %>
      <%= render partial: 'cardio', locals: { cardio: @prep.target_cardios.last } %>
    <% else %>
      <h4>No cardio set yet</h4>
      <%= link_to "Set cardio goal", new_prep_target_cardio_path(@prep) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns text-center">
    <h2>Latest Progress Photos</h2>

  </div>
</div>
