<div class="row">
  <div class="medium-8 medium-center column">
    <h2>Enter your macros:</h2>
    <%= simple_form_for [@prep, @macro] do |f| %>
      <%= f.input :protein, label: "Protein (g)", input_html: { min: '0' } %>
      <%= f.input :carbs, label: "Carbs (g)", input_html: { min: '0' } %>
      <%= f.input :fat, label: "Fat (g)", input_html: { min: '0' } %>
      <%= f.input :fiber, label: "Fiber (g)",input_html: { min: '0' }, placeholder: 'optional' %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
