<div class="row">
  <div class="medium-8 medium-centered column">
    <h2>Enter your macros:</h2>
    <%= simple_form_for [@prep, @macro] do |f| %>
      <%= f.input :protein, label: "Protein (g)", input_html: { min: '0' } %>
      <%= f.input :carbs, label: "Carbs (g)", input_html: { min: '0' } %>
      <%= f.input :fat, label: "Fat (g)", input_html: { min: '0' } %>
      <%= f.button :submit %>
    <% end %>
    <%= link_to "Back to Prep", @prep %>
  </div>
</div>
