<div class="row">
  <h2>New Contest</h2>
  <%= simple_form_for [@prep, @contest] do |f| %>
    <%= f.input :title %>
    <%= f.label "Date" %>
    <%= f.text_field :date, placeholder: "eg. 2016-05-22" %>
    <%= f.input :url %>
    <%= f.button :submit %>
  <% end %>
</div>
