<div class="row">
  <div class="medium-4 columns">
    <% if @user == current_user %>
      <h4>Your Account</h4>
    <% else %>
      <h4><%= @user.name %></h4>
    <% end %>
    <div id="user-info">
      <%= image_tag(@user.avatar(:medium)) %>
      <ul class="no-bullet">
        <li>Name: <%= @user.name %></li>
        <li>Email: <%= @user.email %></li>
        <li>Gender: <%= @user.gender %></li>
        <li>Age: <%= @user.age %></li>
        <li>Bio: <%= @user.bio %></li>
        <li>Height: <%= @user.height %></li>
      </ul>
      <%= link_to "Edit Your Profile", edit_user_path(@user), class: "expanded button" if @user == current_user %>
    </div>
  </div>
  <div class="medium-8 columns">
    <% if @user == current_user %>
      <%= render partial: 'preps', locals: { preps: @user.preps } %>
    <% end %>
    <%= render partial: "user_about" %>
  </div>
</div>
