<div class="row">
  <div class="medium-4 columns">
    <h4>Your Account</h4>
    <div id="user-info">
      <%= image_tag(@user.avatar) %>
      <ul class="no-bullet">
        <li>Name: <%= @user.name %></li>
        <li>Email: <%= @user.email %></li>
        <li>Gender: <%= @user.gender %></li>
        <li>Age: <%= @user.age %></li>
        <li>Bio: <%= @user.bio %></li>
        <li>Height: <%= @user.height %></li>
      </ul>
    <div>
  </div>
</div>
