<div class="row text-center">
  <h1>Your Account</h1>
  <div id="user-info">
    <h2>Name: <%= @user.name %></h2>
    <h2>Email: <%= @user.email %></h2>
    <h2>Gender: <%= @user.gender %></h2>
    <h2>Age: <%= @user.age %></h2>
    <h2>Bio: <%= @user.bio %></h2>
    <h2>Height: <%= @user.height %></h2>
  <div>
</div>
