<div class="row">
  <div class="medium-8 medium-centered column">
    <h2>Invite <%= @coach.name %> to coach this Prep</h2>
    <%= image_tag(@coach.avatar(:medium)) %>
    <%= simple_form_for @invitation, :url => coach_request_path(@prep, @coach) do |f| %>
      <%= f.input :message, placeholder: "Send your coach a message about this request (optional)" %>
      <%= f.button :submit %>
    <% end %>
    <%= link_to "Back to Coach", coach_path(@prep, @coach) %>
  </div>
</div>
