<div class="row">
  <div class="medium-4 columns">
    <%= render partial: 'users/user_info' %>
  </div>
  <div class="medium-8 columns">
    <h4><%= @user.name %> would like you to coach the Prep "<%= @prep.title %>"</h4>
    <% if @invitation.message %>
      <h4 class="green">Message from Athlete:</h4>
      <%= simple_format @invitation.message %>
    <% end %>
    <%= link_to "Accept Invitation", accept_invite_path(prep_id: @prep.id, id: @coach.id), class: "button", method: :post %>
    <%= link_to "Decline", deny_invite_path(prep_id: @prep.id, id: @coach.id), method: :delete, class: "button" %>
  </div>
</div>
