<div class="row resource">
  <div class="medium-6 columns">
    <ul class="no-bullet">
      <% if @prep %>
        <li><%= link_to resource.title, prep_resource_path(@prep, resource) %></li>
      <% else %>
        <li><%= link_to resource.title, user_resource_path(user_id: resource.user.id, id: resource.id) %></li>
      <% end %>
      <li>Added on <%= resource.created_at.strftime("%D") %></li>
      <% if resource.user == current_user %>
        <li>
          <%= link_to "Edit", edit_user_resource_path(user_id: current_user.id, id: resource.id), class: "underline" %>
          <%= link_to "Delete", user_resource_path(user_id: current_user.id, id: resource.id), class: "underline", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-6 columns">
    <% if resource.user == current_user %>
      <%= render partial: 'resourceries/form', locals: { resource: resource } %>
    <% end %>
  </div>
</div>
