<div class="row resource">
  <div class="small-6 columns">
    <ul class="no-bullet">
      <% if @prep %>
        <li><%= link_to resource.title, prep_resource_path(@prep, resource) %></li>
      <% else %>
        <li><%= link_to resource.title, user_resource_path(user_id: resource.user.id, id: resource.id) %></li>
      <% end %>
      <li>Added on <%= resource.created_at.strftime("%D") %></li>
      <% if resource.user == current_user %>
        <li>
          <%= link_to "Edit", edit_user_resource_path(user_id: current_user.id, id: resource.id), class: "underline" %>
          <%= link_to "Delete", user_resource_path(user_id: current_user.id, id: resource.id), class: "underline", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="small-6 columns text-right">
    <%= link_to "Share Resource", new_resourcery_path(resource: resource), class: "button", id: "share-button" %>
  </div>
</div>
