<div class="row">
  <div class="small-12 columns">
    <h2>Resource</h2>
    <h4>Title: <%= @resource.title %></h4>
    <ul class="no-bullet">
      <li><%= simple_format(@resource.body) %><li>
      <li><%= link_to "Link to Resource", @resource.url if @resource.url %></li>
      <li><%= link_to "Link to Attached File", @resource.upload.url, target: "_blank" if @resource.upload %></li>
    </ul>
    <%= link_to "Back to Resources", user_resources_path(current_user), class: "button" %>
  </div>
</div>
