<ul class="no-bullet">
  <li>Duration: <%= cardio.duration %> minutes</li>
  <li>Activity: <%= cardio.activity %></li>
  <li>Type: <%= cardio.style %></li>
  <li><%= link_to "Log today's cardio", new_prep_cardio_path(@prep) if @prep.user == current_user %></li>
  <li><%= link_to "Set new cardio goal", new_prep_target_cardio_path(@prep) if @prep.coach_id == current_user.id %></li>
  <li><%= link_to "Cardio History", prep_cardios_path(@prep) %></li>
</ul>
