<h4>Cardio</h4>
<ul class="no-bullet">
  <li>Duration: <%= cardio.duration %> minutes</li>
  <li>Activity: <%= cardio.activity %></li>
  <li>Type: <%= cardio.style %></li>
  <li><%= link_to "Log today's cardio", new_prep_cardio_path(@prep) %></li>
  <li><%= link_to "Set new cardio goal", new_prep_target_cardio_path(@prep) %></li>
</ul>
