<div class="backgrnd">
  <% if @prep.coach_id.nil? && @prep.invitation.nil? %>
    <h4>Coach</h4>
    <ul class="no-bullet no-data">
      <li><%= link_to "Find a Coach", coaches_path(prep_id: @prep.id) %></li>
      <li><%= link_to "Coach Myself", selfie_path(prep_id: @prep.id) %></li>
    </ul>
  <% elsif @prep.coach_id.nil? && @prep.invitation %>
    <h4>Coach</h4>
    <ul class="no-bullet">
      <li>You have a pending coach request.</li>
      <li><%= link_to "Delete Coach Request", deny_invite_path(prep_id: @prep.id, id: @prep.invitation.user_id), method: :delete %></li>
    </ul>
  <% elsif @prep.coach_id != @prep.athlete.id %>
    <h4>Coach</h4>
    <%= link_to user_path(@coach) do %>
      <%= image_tag(@coach.avatar(:medium), class: "prep-avatar") %>
      <h6><%= @coach.name %></h6>
    <% end %>
  <% else %>
    <h4>Quote of the Day</h4>
    <p class="no-data">
      "I don't do this to be healthy, I do this to get big muscles."
    </p>
  <% end %>
</div>
