<div class="backgrnd">
  <h4>Macros</h4>
  <% if macros.any? %>
    <ul class="no-bullet">
      <li><h5><%= macros.last.protein %>g Protein</h5></li>
      <li><h5><%= macros.last.carbs %>g Carbs</h5></li>
      <li><h5><%= macros.last.fat %>g Fat</h5></li>
      <% if macros.last.fiber %>
        <li><h5><%= macros.last.fiber %>g Fiber</h5></li>
      <% end %>
      <li><h5><%= macros.last.calories %> Calories</h5></li>
      <li><%= link_to "Log today's macros", new_prep_macro_path(@prep) if @prep.athlete == current_user %></li>
      <li><%= link_to "Set new target macros", new_prep_target_macro_path(@prep) if @prep.coach_id == current_user.id %></li>
      <li><%= link_to "Macro history", prep_macros_path(@prep) %></li>
    </ul>
  <% else %>
    <h5 class="no-data">No target macros set yet</h5>
    <ul class="no-bullet">
      <li><%= link_to "Log today's macros", new_prep_macro_path(@prep) if @prep.athlete == current_user %></li>
      <li><%= link_to "Set new target macros", new_prep_target_macro_path(@prep) if @prep.coach_id == current_user.id %></li>
      <li><%= link_to "Macro history", prep_macros_path(@prep) if @prep.macros.any? %></li>
    </ul>
  <% end %>
</div>
