<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">MUSCLEWIZARDS</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <% if current_user %>
          <li><%= link_to "Profile", user_path(:id => current_user) %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in with Facebook", "/auth/github" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
