<div class="backgrnd">
  <h4>Weight</h4>
  <% if weights.any? %>
    <ul class="no-bullet">
      <li>Current Weight: <%= weights.last.display_weight %></li>
      <li>Start Weight: <%= weights.first.display_weight %></li>
      <li><%= time_ago_in_words(weights.first.created_at) %> ago</li>
      <li><%= link_to "Log new weight", new_prep_bodyweight_path(@prep) if @prep.athlete == current_user %></li>
      <li><%= link_to "Weight history", prep_bodyweights_path(@prep) %></li>
    </ul>
  <% else %>
    <h5 class="no-data">No weigh-ins recorded yet</h5>
    <ul class="no-bullet">
      <li><%= link_to "Log new weight", new_prep_bodyweight_path(@prep) if @prep.athlete == current_user %></li>
    </ul>
  <% end %>

</div>
